.container {
    margin: auto;
    margin: 0 60px;
}

#loading {
    min-height: 100vh;
    margin: auto;
    width: auto;
}

.loading {
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
}

.loading img {
    margin: auto;
    width: 200px;
    display: block;
}

.class-hide {
    display: none;
}

.class-flex {
    display: flex;
}

.price {
    margin: auto;
    display: block;
    max-width: 1366px;
}

.price-box {
    margin: 0 60px;
    background: #9700a5;
    border-radius: 10px;
    padding: 10px 15px;
}

.price-top {
    margin-top: 20px;
}

.price-bottom {
    margin-bottom: 20px;
}

.price-span {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.txt {
    display: block;
    margin-top: 15px;
}

.txtTitle {
    font-weight: bold;
    font-size: 22px;
    display: block;
    margin-top: 15px;
}

.time {
    font-weight: bold;
    font-size: 22px;
}

.img-location {
    width: 22px;
    float: left;
    margin-right: 10px;
}

.img-list {
    width: 18px;
    float: left;
    margin-right: 10px;
}

.detalhes {
    margin-bottom: 20px;
}

.txt-a {
    display: block;
}

.back-btn {
    margin: 0 60px;
    margin-bottom: 20px;
}

#loadingA {
    min-height: 100vh;
    margin: auto;
    width: auto;
}

.loadingA {
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
}

.loadingA img {
    margin: auto;
    width: 200px;
    display: block;
}

.class-hide {
    display: none;
}

.class-flex {
    display: flex;
}

button {
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #9700a5;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background: #c100d3;
    transition: .2s;
}

@media(max-width: 900px) {
    .container, .back-btn {
        margin: 0 20px;
    }

    .price-box {
        margin: 0 20px;
    }
}

@media(max-width: 320px) {
    .container, .back-btn {
        margin: 0 15px;
    }

    .price-box {
        margin: 0 15px;
    }
    
    .price-span {
        font-size: 14px;
    }
}