#space {
    min-height: 50vh;
}

.products {
    margin: auto;
    display: block;
    max-width: 1366px;
    padding: 20px 60px;
}

.container {
    width: 100%;
}

.product {
    width: 100%;
    display: flex;
    padding: 0px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 7px;
    margin-top: 7px;
}

.product:hover {
    background-color: rgb(231, 231, 231);
}

.product-name {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.product-shop {
    font-weight: bold;
}

.product-amount {
    display: block;
}

.product-price {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.product-image {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.233);
    background-color: #fff;
    background: #fff;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    object-fit: contain;
    margin-right: 15px;
    margin: 15px;
}

.info {
    display: block;
    margin: auto;
    width: 100%;
    text-align: left;
}

.div-remove {
    display: block;
    margin: auto;
    width: 50%;
    text-align: right;
    padding-right: 15px;
    user-select: none;
}

.remove {
    color: #ff6347;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.price {
    margin: auto;
    display: block;
    max-width: 1366px;
}

.price-box {
    margin: 0 60px;
    background: #9700a5;
    border-radius: 10px;
    padding: 10px 15px;
}

.price-top {
    margin-top: 20px;
}

.price-bottom {
    margin-bottom: 20px;
}

.price-span {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.clear-span {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    float: right;
    cursor: pointer;
}

.empty-cart {
    height: 100vh;
    width: auto;
    display: flex;
}

.empty-cart-box {
    margin: auto;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
}

.empty-cart-box img {
    width: 300px;
}

.empty-cart-box span {
    display: block;
}

.span1 {
    font-weight: bold;
    font-size: 20px;
}

.empty-box {
    display: block;
    margin: auto;
}

.hide-empty-box {
    display: none;
}

.qnt {
    font-size: 22px;
    padding: 10px;
    user-select: none;
}

.qnt-add, .qnt-remove {
    cursor: pointer;
}

#div-checkout {
    text-align: right;
    padding: 0px 60px 20px 60px;
}

#checkout, #back {
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #9700a5;
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
}

#checkout:hover, #back:hover {
    background: #c100d3;
    transition: .2s;
}

#deliveryInfo, #detalhes {
    padding: 0 60px;
}

#deliveryInfo span {
    font-size: 16px;
}

#infoUser, #pharmacyUser, #pharmacyDist {
    margin-bottom: 20px;
}

#infoUser span, #pharmacyUser span {
    display: block;
}

#userAddress, #pharmacyAddress, #pharmacyDistance, #deliveryFee, #deliveryTime {
    font-weight: bold;
}

#titleDist {
    display: block;
}

#pagamento {
    padding: 0 0 20px 0;
    max-width: 500px;
    width: 100%;
    display: block;
    margin: auto;
}

#pagamento label {
    color: #9700a5;
}

#cardNumber:focus, #cardName:focus, #cardDate:focus, #cardCvv:focus, #cardDoc:focus {
    border-color: #9700a5;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#loading {
    min-height: 100vh;
    margin: auto;
    width: auto;
}

#loadingAddress, #loadingTotal {
    margin: auto;
    width: auto;
}

.loading {
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
}

.loadingAddress {
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
}

.loadingAddress img {
    margin: auto;
    width: 200px;
    display: block;
}

.loading img {
    margin: auto;
    width: 200px;
    display: block;
}

.class-hide {
    display: none;
}

.class-flex {
    display: flex;
}

@media(max-width: 900px) {
    .products {
        padding: 20px 20px;
    }

    #div-checkout {
        padding: 0px 20px 20px 20px;
    }

    #pagamento {
        padding: 0 20px;
    }

    #deliveryInfo, #detalhes {
        padding: 0 20px;
    }

    .price-box {
        margin: 0 20px;
    }
}

@media(max-width: 600px) {
    .product:hover {
        background-color: #fff;
    }
    
    .empty-cart-box img {
        width: 100%;
        padding: 20px;
    }

    .product {
        display: block;
        padding: 15px;
        border-radius: 0;
        margin: auto;
    }

    .product-image {
        height: 100px;
        width: 100px;
        display: block;
        margin: auto;
        border-radius: 50%;
        padding: 10px 0;
        float: left;
        margin-right: 15px;
    }

    .info {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
    }

    .div-remove {
        margin-top: 25px;
        width: 100%;
        text-align: center;
    }

    .product-name {
        padding-top: 0px;
    }

    .div-add {
        margin-bottom: 10px;
    }
}

@media(max-width: 600px) {
    .product-image {
        height: 100px;
        width: 100px;
        display: block;
        margin: auto;
        border-radius: 50%;
        padding: 10px 0;
        float: left;
        margin-right: 15px;
    }
}

@media(max-width: 320px) {
    .empty-cart-box img {
        width: 100%;
        padding: 20px;
    }

    .products {
        padding: 20px 0px;
    }

    .product {
        display: block;
        padding: 15px;
        border-radius: 0;
    }

    .product-image {
        height: 100px;
        width: 100%;
        display: block;
        margin: auto;
        border-radius: 10px;
        margin: 0;
        margin-bottom: 10px;
    }

    .info {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
    }

    .div-remove {
        margin-top: 0px;
        width: 100%;
        text-align: center;
    }

    .product-name {
        padding-top: 10px;
    }

    .div-add {
        margin-bottom: 10px;
    }

    .price-span {
        font-size: 14px;
    }

    .price-box {
        margin: 0 15px;
    }

    #div-checkout {
        padding: 0px 15px 20px 15px;
        margin-top: 10px;
    }

    #checkout, #back {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
}