.my-order {
    background: aliceblue;
}

.header {
    margin-left: 0.5vw;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-title {
    align-items: center;
}

.header-description {
    justify-content: flex-end;
    align-items: center;
}

.order-status {
    margin-left: 0.5vw;
    font-weight: 700;
    text-transform: uppercase;

}

.order-status-date {
    font-size: 15px;
    font-weight: 400;
    float: right;
    text-transform: none;
}

.order-content {
    display: flex;
    align-items: center;
    margin-left: 0.5vw;
}

.order-content-id {
    width: 49vw;
    font-size: 20px;
}

.section {
    margin: 0.5vw;
}

.title {
    display: block;
    font-size: 14px;
    font-weight: 700;
}


.track-btn-section {
    display: flex;
    justify-content: end;
    margin: 0.5vw;
}

button {
    height: 2.5vh;
    background-color: #9700a5;
    color: white;
    font-weight: 700;
}
