<h3>
  Meus Pedidos
</h3>

<div class="my-order">
  <div class="rectangle"></div>

  <div class="order-status">
    Em andamento
    <span class="order-status-date">
      Previsão de entrega: 18/05/2022
    </span>
  </div>

  <div class="order-content">
    <span class="order-content-id">
      #1387
    </span>
    <span class="order-content-price">
      R$ 68,86
    </span>
  </div>
</div>

<div class="track-btn-section">
  <button type="button" (click)="trackOrder()">
    Rastrear o pedido
  </button>
</div>

<div class="section">
  <span class="title">
    Produtos comprados
  </span>
  <table>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Valor</th>
    </tr>
    <tr>
      <td>Shampoo Johnson's</td>
      <td>1 unidade</td>
      <td>R$28,35</td>
    </tr>
    <tr>
      <td>Condicionador</td>
      <td>1 unidade</td>
      <td>R$28,35</td>
    </tr>
  </table>

</div>

<div class="section">
  <span class="title">
    Resumo do pedido
  </span>
  <table>
    <tr>
      <th>Valor Produtos</th>
      <th>Frete</th>
      <th>Total</th>
    </tr>
    <tr>
      <td>R$ 57,95</td>
      <td>R$ 10,91</td>
      <td>R$ 68,86</td>
    </tr>
  </table>
</div>

<div class="section">
  <span class="title">
    Endereço de entrega
  </span>
  <table>
    <tr>
      <th>Rua</th>
      <th>Número</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Cep</th>
      <th>Complemento</th>
    </tr>
    <tr>
      <td>Rua João Luis Bozzi</td>
      <td>89</td>
      <td>Parque Edu Chaves</td>
      <td>São Paulo</td>
      <td>02236-120</td>
      <td>Casa</td>
    </tr>
  </table>
</div>