#container {
    padding: 0 60px;
    min-height: 100vh;
}

.my-order {
    background: aliceblue;
}

.header {
    margin-left: 0.5vw;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-title {
    align-items: center;
}

.header-description {
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}

.order-status {
    margin-left: 0.5vw;
    font-weight: 700;
    text-transform: uppercase;

}

.order-status-date {
    font-size: 15px;
    font-weight: 400;
    float: right;
    text-transform: none;
}

.order-content {
    display: flex;
    align-items: center;
    margin-left: 0.5vw;
}

.order-content-id {
    width: 49vw;
    font-size: 20px;
}

.section {
    margin: 0.5vw;
}

.title {
    display: block;
    font-size: 14px;
    font-weight: 700;
}


.track-btn-section {
    display: flex;
    justify-content: end;
    margin: 0.5vw;
}

button {
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #9700a5;
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background: #c100d3;
    transition: .2s;
}

.class-hide {
    display: none;
}

.class-flex {
    display: flex;
}

#loading {
    min-height: 100vh;
    margin: auto;
    width: auto;
}

.loading {
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
}

.loading img {
    margin: auto;
    width: 200px;
    display: block;
}

@media(max-width: 900px) {
    #container {
        margin: 0 20px;
    }
}

@media(max-width: 320px) {
    #container {
        margin: 0 15px;
    }
}