<div id="box-all">
  <div class="max-width-banner">
    <div class="welcome">
      <div class="teste1">
        <h1 class="welcome-text-1">aqui tem</h1>
        <h1 class="welcome-text-3">farmácias</h1>
      </div>
      <img class="welcome-image" src="assets/icons/logo2.png" alt="">
      <div class="teste2">
        <span class="welcome-text-4">sem fila,</span><br>
        <span class="welcome-text-2">em </span>
        <span class="welcome-text-5">minutos</span><br>
        <span class="welcome-text-4">na sua casa</span>
      </div>
    </div>
  </div>
  
  <div id="container" class="max-width-parceiros class-hide">
    <div id="h-pharmacies">
      <h4 class="parceiros">Lojas</h4>
      <div id="filter">
        <span id="order-1" class="order order-a" (click)="newFilter('1')">Original</span>
        <span id="order-2" class="order order-a" (click)="newFilter('2')">Taxa de Entrega</span>
        <span id="order-4" class="order order-a" (click)="newFilter('4')">Tempo de Entrega</span>
      </div>
    </div>
    <div class="pharmacies equalHMVWrap eqWrap">
      <div class="pharmacy equalHMV eq" (click)="goPharmacy(pharmacy.idPharmacy)" *ngFor="let pharmacy of gettedPharmacies">
        <div class="pharmacy-box">
          <img class="pharmacy-image" [src]="pharmacy.image" alt="">
          <div class="pharmacy-info">
            <span class="pharmacy-name">{{pharmacy.name}}</span>
            <span class="pharmacy-distance">{{pharmacy.time}} | {{pharmacy.distance}}</span>
            <span class="pharmacy-tax">{{pharmacy.tax}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="askcep" class="max-width-parceiros class-hide">
    <div class="askcep">
        <input id="cepfield" type="text" placeholder="Digite seu CEP">
        <button (click)="getByCep()">BUSCAR</button>
    </div>
  </div>
  
  <div id="loading" class="class-flex">
    <div class="loading">
        <img src="assets/icons/loading_icon.gif" alt="">
    </div>
  </div>
</div>