<div id="delivery-nav">
  <div (click)="redirect(0)" class="btn-1">
    <p>Minhas entregas</p>
  </div>
  <div (click)="redirect(1)" class="btn-2">
    <p>Novas entregas</p>
  </div>
</div>

<div id="container" *ngFor="let deliveryman of getUser">
  <h5 class="title">Bem-vindo, {{deliveryman.name}}</h5>

  <div id="orderInfo" *ngFor="let orders of getOrders">
    <span class="ordersInfo">Pedido: {{orders.orderId}}</span>
    <span class="ordersInfo">Farmácia: {{orders.pharmacyName}}</span>
    <span class="ordersInfo">Retirar: {{orders.pharmacyAddress}}</span>
    <span class="ordersInfo">Entrega: {{orders.userAddress}}</span>
    <span class="ordersInfo">Distância: {{orders.distance}}</span>
    <button (click)="makeDelivery(orders)">Fazer entrega</button>
  </div>
</div>

<div id="loading" class="class-hide">
  <div class="loading">
      <img src="assets/icons/loading_icon.gif" alt="">
  </div>
</div>