#container {
    min-height: 100vh;
    margin: auto;
}

#loading {
    min-height: 100vh;
    margin: auto;
    width: auto;
}

.loading {
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
}

.loading img {
    margin: auto;
    width: 200px;
    display: block;
}

.class-hide {
    display: none;
}

.class-flex {
    display: flex;
}

.title {
    display: block;
    text-align: center;
}

.box-partners {
    padding: 20px;
    display: flex;
    background-image: url("assets/icons/partner1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}

.deliveryman, .pharmacies {
    width: 50%;
    text-align: center;
    height: 200px;
    flex-direction: column;
    margin: auto;
    padding: 5px;
    display: flex;
}

.deliveryman a, .pharmacies a {
    margin: auto;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #9700a5;
    white-space: nowrap;
}

#orderInfo {
    margin: 50px 60px;
    font-size: 16px;
}

.ordersInfo {
    display: block;
}

button {
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #9700a5;
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #c100d3;
    transition: .2s;
}

#delivery-nav {
    width: 100%;
    padding: 30px 0px;
    display: flex;
}

.btn-1 {
    margin-left: 60px;
    margin-right: 2px;
}

.btn-2 {
    margin-right: 60px;
    margin-left: 2px;
    background-color: #fbc6ff;
}

.btn-1, .btn-2 {
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.btn-1:hover, .btn-2:hover {
    background-color: #fbc6ff;
    color: #c100d3;
}

.btn-1 p, .btn-2 p {
    margin: auto;
    color: #9700a5;
}

a {
    color: #9700a5;
}

a:hover {
    color: #c100d3;
}


@media (max-width: 550px) {
    .deliveryman, .pharmacies {
        width: 100%;
    }

    .box-partners {
        display: block;
    }
}