<nav id="hide-nav-1">
    <div class="nav-wrapper wrapper-f">
        <img id="nav-menu-logo-1" class="" src="assets/icons/ico1.png">
        <ul id="nav-mobile" class="left testando">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Início</a></li>
            <li routerLinkActive="active"><a routerLink="/produtos">Produtos</a></li> 
        </ul>
        <div id="divSearch">
            <input type="text" id="txtSearch" placeholder="Busque produtos"/>
            <a><img id="search-icon" (click)="search()" src="assets/icons/search.png" alt=""></a>
        </div>
        <ul id="nav-mobile" class="right">
            <li routerLinkActive="active"><a id="logged1" routerLink="/myOrder">Meus Pedidos</a></li>
            <li routerLinkActive="active"><a id="logged1" routerLink="/login">Login</a></li>
            <li routerLinkActive="active"><a id="logged2" class="show-cadastro" routerLink="/usuario">Cadastro</a></li>
            <li routerLinkActive="active"><a id="logged5" class="show-cadastro" routerLink="/logout">Sair</a></li>
            <li routerLinkActive="active"><a id="cart-h" routerLink="/carrinho"><img id="cart-header" src="assets/icons/cart.png" alt=""><span class="cart-items" *ngFor="let product of getQnt">{{qnt}}</span></a></li>
        </ul>
    </div>
</nav>

<nav id="hide-nav-2">
    <div class="nav-wrapper">
        <div id="nav-imgs">
            <img id="nav-menu-ico" class="" src="assets/icons/img-manu.png">
            <img id="nav-menu-logo" class="wdt-a" src="assets/icons/ico1.png">
            <div>
                <img id="nav-menu-search" (click)="showSearch()" src="assets/icons/search.png">
            </div>
            <span id="nav-menu-cart" routerLink="/carrinho"><img id="cart-header" src="assets/icons/cart.png" alt=""><span class="cart-items" *ngFor="let product of getQnt">{{qnt}}</span></span>
        </div>
        <div class="nav-wrapper-2">
            <ul id="nav-mobile-2" class="hide-menu-mobile">
                <li class="li-menu-mobile" routerLinkActive="active"><a id="logged3" routerLink="/login">Login</a></li>
                <li routerLinkActive="active"><a id="logged4" class="show-cadastro" routerLink="/usuario">Cadastro</a></li>
                <li routerLinkActive="active"><a id="logged6" class="show-cadastro" routerLink="/logout">Sair</a></li>
                <li class="li-menu-mobile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Início</a></li>
                <li class="li-menu-mobile" routerLinkActive="active"><a routerLink="/notFound">Farmácias</a></li> 
                <li class="li-menu-mobile" routerLinkActive="active"><a routerLink="/produtos">Produtos</a></li>
                <li class="li-menu-mobile" routerLinkActive="active"><a routerLink="/notFound">Pedidos</a></li>
                <li class="li-menu-mobile" routerLinkActive="active"><a routerLink="/carrinho">Carrinho <span class="cart-items" *ngFor="let product of getQnt">{{qnt}}</span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="search-mobile">
    <div id="divSearchMobile" class="hide-search">
        <input type="text" id="txtSearchMobile" placeholder="Busque produtos"/>
        <a><img id="search-icon-mobile" (click)="search()" src="assets/icons/search.png" alt=""></a>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="line-footer"></div>
<footer>
    <div class="footer-1">
        <img class="footer-menu-logo-1" class="" src="assets/icons/ico1.png">
        <span>© Copyright 2022 | Entrega de Farmácias | Todos os direitos reservados | Entrega de Farmácias Online S.A.</span>
    </div>
    <div class="footer-2">
        <a routerLink="/faleConosco">Fale Conosco</a>
        <a routerLink="">Termos e condições de uso</a>
    </div>
</footer>