#hide-nav-1 {
    display: block;
    background: #fff;
}

#hide-nav-2 {
    display: none;
}

.container {
    width: 100%;
    margin: 0;
    max-width: none;
}

.hide-menu-mobile {
    display: none;
}

footer, .nav-wrapper {
    max-width: 1366px;
    margin: auto;
}

#nav-menu-logo-1 {
    float: left;
    margin-left: 59px;
    margin-right: 10px;
    margin-top: 2px;
    width: 62px;
    height: 62px;
    cursor: pointer;
}

.right {
    margin-right: 46px;
    position: absolute;
    right: 0;
}

.top-fixed {
    position: fixed;
    top: 0;
    z-index: 5;
}

.testando {
    float: right;
}

.show-cadastro {
    display: none;
}

.nav-wrapper, #nav-mobile-2 {
    background: #fff;
}

#hide-nav-1 a, #hide-nav-2 a {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.623);
}

#hide-nav-1 a:hover, #hide-nav-2 a:hover {
    background: #fff;
    color: #9700a5;
}

#hide-nav-1 ul li.active {
    background: #fff;
}

#hide-nav-1 ul li.active a {
    color: #9700a5;
}

#hide-nav-2 ul li.active {
    background: rgba(0, 0, 0, 0.1);
}

#hide-nav-2 ul li.active a {
    color: #9700a5;
}

footer {
    background: #fff;
    height: 100px;
    margin: auto;
    display: flex;
    padding: 0 50px;
}

footer img {
    margin: auto;
}

.footer-1 {
    margin: auto;
    display: flex;
}

.footer-1 span {
    margin: auto;
}

.footer-2 {
    margin: auto;
}

.footer-1 img {
    width: 58px;
    margin-right: 20px;
}

footer a {
    float: right;
    color: #9700a5;
    padding-left: 50px;
    white-space: nowrap
}

.group-name {
    text-align: center;
}

.group-name a {
    color: #9700a5;
    margin: 10px;
}

.group-name a, footer a:hover {
    color: #c100d3;
}

.line-footer {
    border-top: 1px #9700a563 solid;
}

.cart-items {
    background: #9700a5;
    width: 10px;
    height: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
}

#cart-h {
    display: block;
}

.wrapper-f {
    display: flex;
}

#cart-header {
    width: 35px;
    background-color: #fff;
    margin-bottom: -10px;
    margin-right: 7px;
}

#divSearch {
    display: flex;
    padding-top: 9px;
    width: 250px;
    margin-left: 30px;
}

#divSearchMobile {
    padding-top: 9px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#divSearch input, #divSearchMobile input {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 50px;
    color: #9700a5;
}

#search-icon {
    width: 20px;
    position: absolute;
    top: 22px;
    margin-left: -35px;
}

#search-icon-mobile {
    width: 20px;
    position: absolute;
    top: 84px;
    margin-left: -35px;
}

#nav-menu-cart {
    margin-right: 20px;
    cursor: pointer;
}

#nav-menu-search {
    width: 25px;
    padding-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.hide-search {
    display: none;
}

.show-search {
    display: none;
}

.teste {
    
}

@media(max-width: 900px) {
    #nav-menu-logo-1 {
        margin-left: 20px;
    }
    
    .right {
        margin-right: 7px;
    }

    footer {
        padding: 0 20px;
    }
}

@media(max-width: 800px) {
    #hide-nav-1 {
        display: none;
    }

    .show-search {
        display: flex;
    }

    #hide-nav-2 {
        display: block;
    }

    .nav-wrapper-2 {
        display: block;
    }

    #nav-mobile-2 {
        margin-top: -8px;
        width: 100vw;
        height: 100vh;
        position: fixed;
        text-align: center;
        z-index: 5;
    }

    #nav-mobile-2 li {
        display: block;
        width: 100vw;
    }

    #nav-imgs {
        display: flex;
    }

    #nav-menu-ico {
        margin-left: 20px;
        width: 45px;
        height: 55px;
        padding: 10px 0 0 0;
        display: block;
        cursor: pointer;
    }

    #nav-menu-logo {
        width: 57px;
        height: 57px;
        margin: auto;
        top: 3px;
        margin-top: 0px;
        position: relative;
        cursor: pointer;
    }

    .wdt-a {
        left: 30px;
    }

    .wdt-b {
        left: 45px;
    }
}

@media(max-width: 650px) {
    footer {
        display: block;
    }

    .footer-1 {
        margin: 20px 0;
    }

    .footer-1 span {
        margin-right: 20px;
    }

    .footer-2 {
        display: block;
        text-align: center;
    }

    footer a {
        float: unset;
        color: #9700a5;
        display: block;
        padding: 5px;
    }
}

@media(max-width: 600px) {
    #nav-menu-ico {
        margin-left: 15px;
        width: 36px;
        height: 55px;
        padding: 10px 0;
        display: block;
    }
    #nav-menu-logo {
        top: 0px;
        width: 46px;
        height: 46px;
        margin: auto;
        margin-top: 5px;
        position: relative;
    }
    .wdt-a {
        left: 31px;
    }
    .wdt-b {
        left: 49px;
    }
    #nav-menu-cart {
        margin-right: 15px;
    }
    #nav-menu-search {
        width: 25px;
        padding-top: 16px;
        margin-right: 20px;
    }

    #search-icon-mobile {
        width: 20px;
        position: absolute;
        top: 76px;
        margin-left: -35px;
    }
}

@media(max-width: 330px) {
    #nav-menu-logo {
        left: 0px;
    }
}