.welcome {
    display: flex;
    height: 170px;
    max-width: 1346px;
    margin: auto;
}

.welcome-image {
    margin: auto;
    height: 170px;
}

.welcome-text-1 {
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    position: relative;
}

.welcome-text-3 {
    color: #fff;
    font-weight: bold;
    font-size: 55px;
    position: relative;
}

.welcome-text-4 {
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    width: auto;
    line-height: 0.7;
    position: relative;
}

.welcome-text-5 {
    color: #fff;
    font-weight: bold;
    font-size: 55px;
    width: auto;
    line-height: 0.7;
    position: relative;
}

.teste1 {
    margin: auto;
    top: -5px;
    width: 50%;
    padding-left: 50px;
}

.teste2 {
    text-align: right;
    margin: auto;
    top: -5px;
    width: 50%;
    padding-right: 50px;
}

.teste1 h1 {
    margin: 0;
}

.teste2 span {
    margin: 0;
    padding: 0;
}

.product-image {
    display: block;
    border-radius: 10px;
    height: 250px;
    width: 100%;
    object-fit: contain;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.233);
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
}

.max-width-parceiros {
    max-width: 1366px;
    margin: auto;
    padding: 0 60px;
}

.max-width-banner {
    background-color: #9700a5;
    border: #83008f solid 10px;
}

.pharmacies {
    display: flex;
    position: relative;
    text-align: center;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

.pharmacy {
    margin: auto;
    width: 100%;
    text-align: left;
    padding: 15px;
}

.parceiros {
    font-weight: 700;
    margin-left: 60px;
}

.pharmacy-box {
    display: flex;
}

.pharmacy-info {
    margin: 15px 0 15px 15px;
}

.pharmacy-name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 7px;
    display: block;
}

.line {
    height: 2px;
    margin-bottom: 10px;
    background: #9700a53b;
}

.pharmacy-distance {
    display: block;
}

.eqWrap {
    margin: 0;
	display: flex;
}

.eq {
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    width: 100%;
}

.eq:hover {
    background-color: rgb(231, 231, 231);
}

.equalHMVWrap {
	flex-wrap: wrap;
}

.equalHMV {
	width: 19%;
	margin: 0.6%;
}

.equalHMV:nth-of-type(5n) {
	margin-right: 0;	
}

.equalHMV:nth-of-type(5n+1) {
	margin-left: 0;	
}

.product-name {
    font-weight: bold;
    font-size: 18px;
    display: block;
}

.product-amount {
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    padding-bottom: 3px;
    border-bottom: #9700a52f solid 1px;
}

.product-price {
    font-size: 18px;
}

@media(max-width: 1000px) {
    .welcome-text-1 {
        font-size: 33px;
    }
    
    .welcome-text-3 {
        font-size: 52px;
    }
    
    .welcome-text-4 {
        font-size: 33px;
    }
    
    .welcome-text-5 {
        font-size: 52px;
    }

    .equalHMV {
        width: 24%;
        margin: 0.6%;
    }
    
    .equalHMV:nth-of-type(4n) {
        margin-right: 0;	
    }
    
    .equalHMV:nth-of-type(4n+1) {
        margin-left: 0;	
    }
}

@media(max-width: 900px) {
    .teste1 {
        margin: auto;
        top: -5px;
        width: 50%;
        padding-left: 10px;
    }
    
    .teste2 {
        text-align: right;
        margin: auto;
        top: -5px;
        width: 50%;
        padding-right: 10px;
    }

    .max-width-parceiros {
        padding: 0 20px;
    }

    .equalHMV {
        width: 32%;
        margin: 0.6%;
    }
    
    .equalHMV:nth-of-type(3n) {
        margin-right: 0;	
    }
    
    .equalHMV:nth-of-type(3n+1) {
        margin-left: 0;	
    }
}

@media(max-width: 800px) {
    .welcome {
        height: 130px;
    }
    
    .welcome-image {
        height: 130px;
    }

    .welcome-text-1 {
        font-size: 25px;
    }

    .welcome-text-3 {
        font-size: 38px;
    }
    
    .welcome-text-4 {
        font-size: 25px;
    }
    
    .welcome-text-5 {
        font-size: 38px;
    }
}

@media(max-width: 600px) {
    .welcome-text-1 {
        font-size: 20px;
    }
    
    .welcome-text-3 {
        font-size: 26px;
    }
    
    .welcome-text-4 {
        font-size: 20px;
    }
    
    .welcome-text-5 {
        font-size: 26px;
    }

    .product-image {
        height: 180px;
    }

    .equalHMV {
        width: 49%;
        margin: 1%;
    }
    
    .equalHMV:nth-of-type(2n) {
        margin-right: 0;	
    }
    
    .equalHMV:nth-of-type(2n+1) {
        margin-left: 0;	
    }
}

@media(max-width: 500px) {
    .welcome {
        height: 90px;
    }
    
    .welcome-image {
        height: 90px;
    }

    .welcome-text-1 {
        font-size: 14px;
    }
    
    .welcome-text-3 {
        font-size: 20px;
    }
    
    .welcome-text-4 {
        font-size: 14px;
    }
    
    .welcome-text-5 {
        font-size: 20px;
    }

    .teste1 {
        padding-left: 5px;
    }
    
    .teste2 {
        padding-right: 5px;
    }
}

@media(max-width: 450px) {
    .welcome {
        height: 90px;
    }
    
    .welcome-image {
        height: 90px;
    }

    .welcome-text-1 {
        font-size: 14px;
    }

    .welcome-text-3 {
        font-size: 20px;
    }
    
    .welcome-text-4 {
        font-size: 14px;
    }
    
    .welcome-text-5 {
        font-size: 20px;
    }

    .teste1 {
        padding-left: 5px;
    }
    
    .teste2 {
        padding-right: 5px;
    }

    .product-image {
        height: 130px;
    }
}

@media(max-width: 350px) {
    .teste1 {
        display: none;
    }
}

@media(max-width: 300px) {
    .equalHMV {
        width: 100%;
        margin: 0;
    }
    
    .equalHMV:nth-of-type(1n) {
        margin-right: 0;	
    }
    
    .equalHMV:nth-of-type(1n+1) {
        margin-left: 0;	
    }
}

@media(max-width: 270px) {
    .welcome {
        height: 70px;
    }
    
    .welcome-image {
        height: 70px;
    }

    .welcome-text-4 {
        font-size: 12px;
    }

    .welcome-text-5 {
        font-size: 16px;
    }
}